<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
    <title></title>
    <!-- <script src="app/assets/javascripts/jquery-1.4.1.js" type="text/javascript"></script> -->
    <script type="text/javascript">
        var p1jsonStr='<%=j @seatresource%>';
        var p2jsonStr=p1jsonStr.replace(/&quot;/g, '"');
        var jsonStr=JSON.parse(p2jsonStr);
        var ary=new Array();
        var ids=new Array();
        var count=0;
        var rowIdArr=new Array();
        var rowNumArr=new Array();
        var colIdArr=new Array();
        var colNumArr=new Array();
        var rowIdStr='',rowNumStr='',colIdStr='',colNumStr='';
        var obj='';
        $(document).ready(function () {
            dv = $('#dv');
            $('#change').bind("click", function (e) {
              btnClick();
            });
            //获取json对象
            obj=eval(jsonStr);
            
            $.each( obj.data.seatList, function(index, content){  
              rowIdStr+=content.rowId+',';
              rowNumStr+=content.rowNum+',';
              colIdStr+=content.columnId+',';
              colNumStr+=content.columnNum+',';
              gg(parseInt(content.rowNum)*parseInt(content.columnNum)-1,content.rowNum,content.columnNum,content.isLock,content.rowId,content.columnId);
          });
            rowIdArr=rowIdStr.split(',');
            rowNumArr=rowNumStr.split(',');
            colIdArr=colIdStr.split(',');
            colNumArr=colNumStr.split(',');
            rowIdArr=unique(rowIdArr

            
            );
            rowNumArr=unique(rowNumArr);
            colIdArr=unique(colIdArr);
            colNumArr=unique(colNumArr);
            var maxRowNum=max(rowNumArr);
            var maxColNum=max(colNumArr);
            //根据最大行列画图
            // showXY(maxRowNum,maxColNum);
            
        });

        //显示出座位
        function gg(i,x,y,islock,r,c) {
          var im = new Image();
            var temp = 0;
            if(islock==1){
              im.src = "red.png";
            }else{
              im.src = "white.png";
            }
            var row = Math.floor(i / y) + 1;
            var line = (i % y + 1) ;
            im.id = row + "排" + line + "座";
            im.title = r + "-" + c;
            dv.append(im);
            temp = Math.floor((i % y) / 5) * 24
            var top = Math.floor(i / y) * 24 ;
            var left = Math.floor(i % y) * 24 ;
        $("#" + im.id).css({ 'position': 'absolute', 'left': (parseInt(left)+33) + 'px', 'top': (parseInt(top)+29) + 'px', 'width': 24, 'height': 20 });
        $('#' + im.id).mouseenter(function () {
            this.style.cursor = 'pointer';
        }).bind("click", function (e) {

            if(islock==1){
                    if (this.src.indexOf("red.png") == -1) {
                    this.src = "red.png";
                    }
                
                }else{
                    if (this.src.indexOf("red.png") == -1) {
                        if(count>4){
                            alert("最多选5个座位！");
                            return;
                        }
                        this.src = "red.png";
                        
                        ary.push(this.id);
                        ids.push(this.title);
                        HtmlAppend(ary,ids);
                        count++;
                    } else {
                        this.src = "white.png";
                        
                        for (var i = 0; i < ary.length; i++) {
                            if (ary[i] == this.id) { 
                            ary.splice(i,1); 
                            ids.splice(i,1);
                          }
                        }
                        HtmlAppend(ary,ids);
                        count--;
                    }
                }
        }); 
         }
        //点击变色
        function btnClick(){
          var rowth=$("#rowth").val();
          var colth=$("#colth").val();
          var rowNum,colNum;
           $.each( obj.data.seatList, function(index, content){  
             if(content.rowId==parseInt(rowth) && content.columnId==parseInt(colth)){
               rowNum=content.rowNum;
               colNum=content.columnNum;
             }
          });
          
        if ($('#'+(rowNum) + "-" + colNum).attr('src').indexOf("red.png") == -1) {
          $('#'+(rowNum) + "-" + colNum).attr('src',"red.png");
            ary.push($('#'+(rowNum) + "-" + colNum).id);
            ids.push($('#'+(rowNum) + "-" + colNum).title);
            HtmlAppend(ary,ids);
        } else {
          $('#'+(rowNum) + "-" + colNum).attr('src',"white.png");
            for (var i = 0; i < ary.length; i++) {
                if (ary[i] == $('#'+(rowNum) + "排" + colNum).id) { ary[i] = ""; }
            }
             for (var i = 0; i < ids.length; i++) {
                if (ids[i] == $('#'+(rowNum) + "-" + colNum).title) { ids[i] = ""; }
            }
            HtmlAppend(ary,ids);
        }
        }
       //追加座位号
       function HtmlAppend(div,ids)
       {
         //var row=$("#row").val();
         $('#ary').html("");
         $('#ids').html("");
          for(var i=0;i<div.length;i++)
          {
              $('#ary').append(div[i]+" ");
          }
          for(var i=0;i<ids.length;i++)
          {
              $('#ids').append(ids[i]+" ");
          }
          $("#seatNo").val($('#ary').html());
          $("#seatId").val($('#ids').html());
           
        }
     //数组去重,求最大值会用到
     function unique(s){
         var dic = {};
         for (var i = s.length; i--; ) {
             dic[s[i]]=s[i];
         }
         var r = [];
         for (var v in dic) {
          r.push(dic[v]);
         }
         return r;
     }
     //求最大值
     function max(tmp){
       var max1 = parseInt(tmp[0]);
       for(var i=1;i<tmp.length;i++){ 
         if(max1<parseInt(tmp[i]))
           max1=parseInt(tmp[i]);
       }
       return max1;
     }
     //显示坐标
     // function showXY(row,col){
     //   for(var i=0;i<row;i++){
     //    $("#height").append('<div style="border-top:1px solid;height:23px;">'+(i+1)+'</div>');
     //  }
     //  for(var i=0;i<col;i++){
     //    $("#width").append('<div style="border-left:1px solid;height:22px;width:23px;float:left;">'+(i+1)+'</div>');
     //  }
     // }
     
    </script>
</head>
<body>
<div style="display:block;width:1000px;margin-left:24px;height:22px;padding:0px;" id="width">
</div>
<div style="display:block;width:24px;height:400px;padding:0px;" id="height">
</div>
<div id="dv">
</div>
<input type="text" id='seatNo' label= "座位" style="width:300px;"/>
<%= simple_form_for :seats, url: wechat_jbzlocal_realtimeseats_path do |f| %>
  <%= f.input :seatId, input_html: { id: 'seatId'} %>
  <%= f.button :submit %>
<% end %>
<!-- <input type="text" id='seatId' style="width:300px;"/> -->
<div id="ary" style="width:500px;height:500px;  margin-top:0px;display:none;" ></div>
<div id="ids" style="width:500px;height:500px;  margin-top:0px;display:none;" ></div>
</body>
</html>
