// Place all the styles related to the wechat/board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filmname {
  font-size: 1.8em;
}

.filmdetails {
  font-size: 1em;
  color: #666;
}