// Place all the styles related to the wechat/board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filmname {
  font-size: 5em;
}

.filmdetails {
  font-size: 0.9em;
  color: #111;
  .content-font-size {
    font-size: 0.9em;
  }
}

.film-score {
  padding: 0px 4px;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 0.9em;
}

.no-image-bottom-margin {
  margin-bottom: 2px;
}